@import url(../..//assets/styles/fonts.css);
@import url(../..//assets/styles/swiper-bundle.min.css);
@import url(../..//assets/styles/header.css);
@import url(../..//assets/styles/rubrica.css);
@import url(../..//assets/styles/contact-us.css);
@import url(../..//assets/styles/helper.css);
@import url(../..//assets/styles/examples.css);
@import url(../..//assets/styles/technology.css);
@import url(../..//assets/styles/footer.css);


.automatic-hero{
    padding: 150px 0;
    background: linear-gradient(90deg, #F5F8FA 50% , rgba(30, 35, 39, 1) 50% );
    color: var(--white-color);
    position: relative;
}
.automatic-hero .automatic-img {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 50%;
}

.automatic-hero-block {
    max-width: 50%;
    width: 100%;
    padding-left: 100px;
}
.automatic-hero-block-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #F5F8FA;
    display: none;
}
.automatic-hero-block h1 {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 100px;
}
.automatic-hero-block h1 span {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.automatic-hero-block p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
.automatic-hero .content {
    display: flex;
    justify-content: flex-end;
}
.section-1 {
    width: 100%;
    height: 1052px;
    background-image: url(../../assets/images/automatic-biz/gitl.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-2 {
    padding-bottom: 150px;
}
.section-2-lbg {
    padding: 150px 0;
    background-color: var(--light-bg-color);
}
.section-2-dark {
    background-color: var(--main-dark-color);
    padding: 100px 0 150px;
    color: var(--white-color);
}
.section-2 p {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}
section-2-dark .content p {
    color: var(--white-color);
}

.section-4 {
    padding: 150px 0;
    background-color: var(--light-bg-color);
    background-image: url(../../assets/images/automatic-biz/dev.png);
    background-position: bottom right;
    background-size: 45% auto ;
    background-repeat: no-repeat;
}
.comment-p {
    padding: 150px 0;
}
@media (max-width:1024px) {
    .automatic-hero {
        padding:  0 ;
        background: var(--main-dark-color);
    }
    .automatic-img {
        display: none;
    }
    .automatic-hero-block-img img{
        padding: 50px 0 0;
        display: block;
    }
    .automatic-hero-block {
        max-width: 100%;
        padding: 20px;
        background-color: var(--main-dark-color);
    }
    .automatic-hero .content {
        flex-direction: column;
    }
    .automatic-hero-block h1 {
        font-size: 40px;
        margin-bottom: 50px;
        text-align: center;
    }
    .automatic-hero-block p {
        text-align: center;
    }
    .automatic-hero-block h1 span {
        font-size: 40px;
    }
    .section-9 , .section-10 {
        padding-top: 0;
    }
    .section-1 {
        height: 200px;
        background-size: cover;
    }
    .section-2 {
        padding: 0 0 75px;
    }
    .section-2 p {
        font-size: 20px ;
        text-align: center;
    }
    .section-4 {
        padding: 0 0 400px;
        background-size: contain;
    }
    .section-2-lbg {
        padding-top: 75px;
    }
    .section-9-dark .section-9-block2 p {
        color: var(--white-color) !important;
    }
    .section-2-dark p {
        color: var(--white-color);
    }
    .comment {
        padding-top: 0;
    }
    .comment-p {
        padding: 0;
    }
    .dop-contact {
        margin-top: 50px;
    }
}